// color hints based on input class
// todo: est-ce qu'on peut s'en passer en utilisant les variables vuetify ?
.v-input {
  &.success--text {
    .v-messages {
      color: var(--v-success-base);
    }
  }
  &.error--text {
    .v-messages {
      color: var(--v-error-base);
    }
  }
  &.warning--text {
    .v-messages {
      color: var(--v-warning-base);
    }
  }
}
