body {
  // login page css
  .loginForm {
    .label {
      color: $white;
    }
    .ou {
      margin-right: 15vw;
      margin-top: 0.3vh;
    }
    .phone {
      margin-top: 0.3vh;
    }
    .password {
      margin-top: 18vh;
    }
    .login {
      margin-top: 7vh;
      .button {
        border-radius: 20px;
        width: 15vw;
        margin-left: 1vw;
        box-shadow: 2px 2px 2px #000;
        color: $white;
        background-color: $primary-dark;
        border-color: $white;
        &:hover {
          color: $primary-dark;
          background-color: $white;
          border-color: $primary-dark;
        }
      }
    }
    .field.is-horizontal {
      width: 30vw;
      .input {
        width: 15vw;
        margin-left: 2vw;
        box-shadow: none;
        border-color: $white;
        border-bottom-color: #000;
        border-radius: 0;
        color: $tertiary;
      }
      ::placeholder {
        color: $tertiary;
        opacity: 1;
      }
    }
  }
}
