{% extends '/email/notification/base.html.twig' %}
{% block body %}
    <p>{{ "yourPassword"|trans }} {{api_env('EMAILS_PLATFORM_NAME')}} {{ "successfullyChanged"|trans }}.</p>
    <p>{{ "thankYou"|trans }} {{api_env('EMAILS_PLATFORM_NAME')}} !</p>
{% endblock %}