{% extends '/email/notification/base.html.twig' %}
{% block body %}
{# <p>{{ "theModificationIsConfirmed"|trans}}:
- @NomChamp1  :  @AncienneValeurChamp1 @NouvelleValeurChamp1
[ -  @NomChamp2 : @AncienneValeurChamp2 @NouvelleValeurChamp2 ]
[…]</p> #}
<p> La modification de votre profil est confirmée.</p>
{% endblock %}