{# {% if Driver regular %}
{{ "carpoolAskAcceptedRegular"|trans }} @PrenomOuPseudoPassager @PortablePassager {{ "between"|trans }} @AdressePEC {{"and"|trans}} @AdresseDepose.
{% elseif Driver occasionnal %}
{{ "carpoolAskAccepted"|trans }} @PrenomOuPseudoPassager @PortablePassager {{ "the"|trans }} @DateDepartPassager {{"at"|trans}} @HeurePEC {{ "from"|trans }} @adressePEC {{"to"|trans}} @AdresseDepose.
{% elseif Passenger regular %}
{{ "carpoolAskAcceptedRegular"|trans }} @PrenomOuPseudoConducteur @PortableConducteur {{ "between"|trans }} @AdressePEC {{"and"|trans}} @AdresseDepose.
{% elseif Passenger occasionnal %}
{{ "carpoolAskAccepted"|trans }} @PrenomOuPseudoConducteur @PortableConducteur {{ "the"|trans }} @DateDepartConducteur {{"at"|trans}} @HeurePEC {{ "from"|trans }} @adressePEC {{"to"|trans}} @AdresseDeposesms.
{% endif %} #}

Votre trajet vient d'être confirmé.