{% extends '@Mobicoop/base.html.twig' %}

{% block title %}
  {% trans from 'ui' %}user.login.title{% endtrans %}
{% endblock %}
{% block stylesheets %}
  {#{{ encore_entry_link_tags("#{assets_prefix ?? ''}user/login") }}#}
{% endblock %}

{% block main %}
  <login
      :errormessage="{{ {'value': errorMessage}|json_encode(1) }}"
      :show-facebook-login = "{{ facebook_show ? "true" : "false" }}"
      facebook-login-app-id = "{{ facebook_appid }}"
  />
{% endblock %}
