{% extends '@Mobicoop/base.html.twig' %}

{% block title %}
  {% trans from 'ui' %}user.messages.title{% endtrans %}
{% endblock %}
{% block stylesheets %}
  {#{{ encore_entry_link_tags("#{assets_prefix ?? ''}user/messages") }}#}
{% endblock %}

{% block main %}
      <Messages 
        :id-user="{{ idUser }}"
        :id-thread-default="{{ (idThreadDefault) ? idThreadDefault : 'null' }}"
        :new-thread="{{ newThread|json_encode }}"
      />
{% endblock %}
