{% extends '@Mobicoop/base.html.twig' %}

{% block title %}
  {% trans from 'ui' %}user.password_recovery.title{% endtrans %}
{% endblock %}
{% block stylesheets %}
  {#{{ encore_entry_link_tags("#{assets_prefix ?? ''}user/passwordRecovery") }}#}
{% endblock %}

{% block main %}
    <password-recovery></password-recovery>
{% endblock %}
