{# @var community \Mobicoop\Bundle\MobicoopBundle\Community\Entity\Community #}
{% extends '@Mobicoop/base.html.twig' %}

{% block title %}Communauté
{% endblock %}
{% block stylesheets %}
    {#{{ encore_entry_link_tags("#{assets_prefix ?? ''}community/community") }}#}
{% endblock %}
{% block main %}
{% if community.secured and communityUser == null %}
    <community-secured-sign-in
        :community-id="{{community.id}}"
        community-name="{{community.name}}"
        :user-id="{{(user is not null) ? user.id : 'null'}}"
        :error="{{ error|json_encode }}"
    ></community-secured-sign-in>
{% else %}
    <community
        :community="{{ community|json_encode }}" 
        :geodata="{{ {'geocompleteuri':geoCompleteUri, 'searchroute':searchRoute}|json_encode }}"
        :user="{{ app.user|json_encode }}"
        :map-provider="{{ mapProvider|json_encode }}"
        :url-tiles="{{ urlTiles|json_encode }}"
        :attribution-copyright="{{ attributionCopyright|json_encode }}"
        url-alt-avatar="{{ urlAltCommunityAvatar }}"
        avatar-version="{{ communityAvatarVersion }}"
        {{ searchRegular ? 'regular' : '' }}
        {{ searchPunctualDate ? 'punctual-date-optional' : '' }}
    ></community>
{% endif %}

{% endblock %}
