{% extends '@Mobicoop/base.html.twig' %}

{% block title %}Les Communautés
{% endblock %}
{% block stylesheets %}
    {#{{ encore_entry_link_tags("#{assets_prefix ?? ''}community/communities") }}#}

{% endblock %}
{% block main %}
    <section class="hero firstSection">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Les communautés
                </h1>
            </div>
        </div>
    </section>
    <br/><br/>
    <div class="layout justify-center"
         outlined
         tile>
        <div class="flex xs10">
            <community-help></community-help>
            <br/><br/>
            <community-list
                    :paths="{{ {'community_create':path('community_create'), 'community_ad_post':path('carpool_ad_post')}|json_encode }}"
                    :communities="{{ communities|json_encode }}"
                    :communities-user="{{ communitiesUser|json_encode }}"
            ></community-list>
            <br/><br/>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {#{{ encore_entry_script_tags("#{assets_prefix ?? ''}community/communities") }}#}
{% endblock %}