{% extends '@Mobicoop/base.html.twig' %}
{# @var form \Symfony\Component\Form\FormView #}
{% block title %}{% trans from 'ui' %}Communautés{% endtrans %}{% endblock %}

{% block stylesheets %}
    {#{{ encore_entry_link_tags("#{assets_prefix ?? ''}community/createCommunity") }}#}
{% endblock %}

{% block main %}


    <community-create
			:user="{{ app.user|json_encode }}"
            geo-search-url="{{ geoCompleteUri }}" 
            avatar-size="{{ communityAvatarSize }}">
    </community-create>
   
{% endblock %}